<div class="metronome-cntr">
  <div class="bpm-cntr">
    <input (input)="onBpmChange($event)" type="number" [(ngModel)]="metroProps.bpm" id="bpm-indicator"/>
    <span id="bpm-label">BPM</span>
  </div>
  <div class="btn-cntr">
    @if (playing) {
      <button class="player material-icons" (click)="metroPlayer()"><span>stop</span></button>
    } @else {
      <button class="player material-icons" (click)="metroPlayer()"><span>play_arrow</span></button>
    }
    <div class="velocity-btn-cntr">
      <button class="material-icons" (click)="increaseBpm()"><span>keyboard_arrow_up</span></button>
      <button class="material-icons" (click)="decreaseBpm()"><span>keyboard_arrow_down</span></button>
    </div>
  </div>
</div>

  <div class="leds-cntr">
    @for (item of metronomeGraphic; track item; let idx = $index ) {
      <div class="led" id="led-{{ idx + 1 }}"></div>
    }
  </div>