.page-cntr {
    height: 90%;
    /* position: relative; */
}
.displayed-tonality {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12rem;
    position: absolute;
}
span {
    color: white;
}
#next-tonality {
    position: absolute;
    right: 20%;
    bottom: 45%;
    font-size: 4rem;
    color: white;
}
.tonality-picker-cntr {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    bottom: 10%;
    flex-wrap: wrap;
    gap: 25px;
}

.tonality-picker-cntr span {
    flex: 1 0 25%;
    border: 1px solid rgb(170, 170, 170);
    text-align: center;
    padding: 10px 0;
    box-shadow: 1px 1px 3px 1.3px rgba(215, 215, 215, 0.3);
    border: unset;
}
.selected {
    background-color: #363636;
    border: unset;
}
.unselected { 
    color: rgb(198, 198, 198);
}
.leds-measure-indicator-cntr {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.measure-led {
    width: 15px;
    height: 5px;
    border: 1px solid rgba(200, 200, 200, 0.7);
    color: black;
    display: inline-block;
    border-radius: 10px;
}